*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

header{
  width: 82.5em;
  height:4.5em;
  position: relative;
}
/* nav {
  position:absolute;
  top:1.6em;
  left:10em;
  width: 800px;
} */
/* .logo img{
  width: 100px;
  height: 75px;
  padding: 0 4px 0 0px;
} */

button {
  position: absolute;
  right: 10px;
  top: 15px;
  text-align: center;
  color: white;
  width: 90px;
  height: 35px;
  border: 2px solid white;
  background-color: black;
  padding: 1px 30px;
  font-size: 15px;
  font-weight: 590;
}

button:hover{
  background-color: white;
  transition-duration: 0.2s;
  color: black;
} 

/* body{
  background-image: url('image/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
} */

#menu-bar{
  text-align: center;
  background-color: green;
  height: 70px;
}

#menu-bar > ul{
  display:inline-flex;
  list-style: none;
  height: 70px;
}

#menu-bar > ul > li{
  width:100px;
  margin: 15px;
  padding: 10px;
}

#menu-bar > ul > li > a{
  text-decoration: none;
  color: white;
}

/* courses-dropdown styling below */
#courses-dropdown{
  position: absolute;
  left: 380px;
  width: 120px;
  text-align: center;
  display:none;
}

#courses-dropdown > ul{
  list-style: none;
}

#menu-bar > ul > li:hover
{
  background-color: #99cc00;
  transition-duration: 0.4s;
}
#menu-bar ul li:hover + #courses-dropdown{
  display:block;
  position:absolute;
  background: #99cc00;
  margin-top: 50px;
  margin-left: 145px;
}

#menu-bar > ul > li:hover + #courses-dropdown > ul{
  display: block;
}

#courses-dropdown > ul > li:hover{
  width: 100px;
  background: #99cc00;
}

#courses-dropdown a{
  text-decoration: none;
  color: white;
}

/* about-dropdown styling below */
#about-dropdown{
  position: absolute;
  background: #99cc00;
  left: 675px;
  top: 55px;
  width:120px;
}

#about-dropdown > ul{
  display:none;
}

#menu-bar > ul > li:hover + #about-dropdown > ul{
  display:block;
}

#about-dropdown > ul > li{
  list-style: none;
}

#about-dropdown > ul > li > a{
  text-decoration: none;
  color: white;
}
